.scalable-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1% 7.5%;
    gap: 10px;
}

.scalable-text-wrapper {
    max-width: 700px;
    width: 100%;
}

.scalable-text-wrapper p {
    padding-bottom: 15px;
}

.scalable-text-wrapper a {
    color: #626262;
    font-size: clamp(19px, 2vw, 25px);
    transition: color 0.5s ease, transform 0.5s ease;
    margin-top: 25px;
    font-weight: bold;
    display: block;
}
.scalable-text-wrapper a:hover {
    transition: color 0.5s ease, transform 0.5s ease;
    transform: scale(1.04);
    position: relative;
    color: #000000;
}

.scalable-text {
    font-size: clamp(16px, 2vw, 20px);
    text-align: justify;
    line-height: 1.6;
    text-justify: inter-word;
    word-wrap: break-word;
    margin: 0;
}

.header-text {
    font-size: clamp(32px, 5vw, 55px);
    font-weight: bold;
    color: #000;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .scalable-text {
        text-align: center;
    }
}