.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.contact-container form {
    display: flex;
    flex-direction: column;
}

.contact-container label {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: Montserrat;
    font-weight: 200;
    
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    resize: vertical;
}

.contact-container textarea {
    height: 150px;
}

.contact-container button[type="submit"] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    width: 50%;
    max-width: 200px;
    transition: background-color 0.3s ease;
}

.contact-container button[type="submit"]:hover {
    background-color: #666666;
}

.confirmation-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.circle-loader {
    width: 80px;
    height: 80px;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-left-color: #000;
    position: relative;
    animation: rotate 1.2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.5s ease-out;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.icon {
    display: none;
    position: absolute;
}

.checkmark::after {
    position: absolute;
    content: "";
    height: 56px;
    width: 28px;
    border-top: 6px solid #5cb85c;
    border-right: 6px solid #5cb85c;
    left: 26px;
    top: 44%;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    animation: checkmark 0.8s ease;
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 28px;
        opacity: 1;
    }
    40% {
        height: 56px;
        width: 28px;
        opacity: 1;
    }
    100% {
        height: 56px;
        width: 28px;
        opacity: 1;
    }
}

.circle-loader.success {
    animation: none;
    border-color: #5cb85c;
}

.circle-loader.success .checkmark {
    margin-right: 105px;
    margin-bottom: 5px;
    display: block;
}
