@font-face {
    font-family: 'StageGrotesk';
    src: url(Resources/Fonts/StageGrotesk-Regular.otf);
}
@font-face {
    font-family: 'StageGrotesk';
    font-weight: lighter;
    src: url(Resources/Fonts/StageGrotesk-Thin.otf);
}
@font-face {
    font-family: 'StageGrotesk';
    font-style: italic;
    src: url(Resources/Fonts/StageGrotesk-ThinItalic.otf);
}

.montserrat_light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}