.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.nav-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-content {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    font-family: 'StageGrotesk';
    text-decoration: none;
    font-size: 23px;
    transition: color 0.3s;
    white-space: nowrap;
}

.logo-opacity-animation img {
    max-width: 100px;
    transition: opacity 0.25s;
    opacity: 1.0;
}
.logo-opacity-animation img:hover {
    opacity: 0.3;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    font-family: 'StageGrotesk';
    font-weight: normal;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #a6a6a6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover {
    color: #a6a6a6;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 500px) {
    .nav-container {
        width: 90%;
    }
    .nav-container-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-links {
        gap: 10px;
    }
    .nav-links a {
        font-size: 20px;
    }
    .logo-opacity-animation img {
        max-width: 80px;
    }
}
