.separator {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    text-align: center;
    font-size: 28px;
    width: 100%;
    margin: 0 auto;
    padding: 0 7.5%;
}
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #454545;
}
.separator:not(:empty)::before {
    margin-right: .25em;
}
.separator:not(:empty)::after {
    margin-left: .25em;
}

@media screen and (max-width: 500px) {
    .separator {
        font-size: 24px;
    }
}