/* Gallery */
.gallery {
    column-width: 300px; /* Minimum width for each column */
    column-gap: 16px; /* Space between columns */
    padding: 5% 10%;
}

/* Ensures images break properly within columns */
.gallery img {
    width: 100%; /* Make images take up full column width */
    border-radius: 4%;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: block; /* Prevents inline spacing issues */
}

/* Hover Effect */
.gallery img:hover {
    transform: scale(1.05);
    position: relative;
}

/* Tag on Hover */
.gallery img:hover::after {
    content: attr(data-tags);
    display: block;
    border-radius: 4%;
    white-space: nowrap;
}
